terminal:
  cwd: /opt/data/projects

model:
  provider: nous
  default: qwen/qwen3-coder-flash

mcp_servers:
  context7:
    command: npx
    args:
      - -y
      - '@upstash/context7-mcp'
    env:
      CONTEXT7_API_KEY: "{{ item.context7_api_key }}"

  github:
    command: npx
    args:
      - -y
      - '@modelcontextprotocol/server-github'
    env:
      GITHUB_PERSONAL_ACCESS_TOKEN: "{{ secrets.hermes_default_github_token }}"

  playwright:
    command: npx
    args:
      - -y
      - '@modelcontextprotocol/server-playwright'
onboarding:
 seen:
  tool_progress_prompt: true
