[defaults]
inventory = inventory.ini
roles_path = ./roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
retry_files_enabled = false
stdout_callback = default
deprecation_warnings = False

[privilege_escalation]
become = true
