hermes-agent:
  #image: ghcr.io/nousresearch/hermes-agent:latest
  build:
    context: "{{ hermes_home }}"
    dockerfile: Dockerfile
  container_name: "hermes-agent"
  restart: unless-stopped
  command: ["hermes", "gateway"]
  depends_on:
    - signal-cli
  ports:
    - "8642:8642"
    - "9119:9119"
  environment:
    HERMES_DASHBOARD: "1"
    HERMES_UID: "{{wiki_volume_uid}}"
    HERMES_GID: "{{wiki_volume_gid}}"
    GITHUB_TOKEN: "{{secrets.hermes_default_github_token}}"
  volumes:
    - "{{ hermes_home }}:/opt/data"
    - "{{ silverbullet_data_dir }}:/opt/data/wiki"
  networks:
    - internal
    - gateway