silverbullet:
  image: "{{ silverbullet_image }}"
  container_name: silverbullet
  user: "{{ wiki_volume_uid }}:{{ wiki_volume_gid }}"
  environment:
    - SB_USER={{ secrets.silverbullet_admin_username }}:{{ secrets.silverbullet_admin_password }}
  ports:
    - "[IP_ADDRESS]:3000:3000"
  volumes:
    - "{{ silverbullet_data_dir }}:/space"
  networks:
    - gateway